[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_full_version = "3.8.13"
